
*{
    margin: auto;
}
body{
    background-color: #eeeeee;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
@media only screen and (max-width: 300px) {
    body {
      background-color: lightblue;
    }
  }
main{
    margin: 2rem 8rem;
}

#header{
    display: flex;
    
}
#hehe{
    display: flex;
    margin-left: auto;
}

#nav-bar{
    position: fixed;
    width: 100%;
    top: 0;
}

li{
    display: inline;
    padding: 1.25rem;

}
ul {
    list-style-type: none;
   
    }


#above{
     margin: auto;
    text-align: center;
}
.grid{
    display: flex;
}
h3{
    margin-bottom: 10px;
    margin-top: 20px;
}
#email{
    margin-bottom: 10px;
    width: 300px;
}
#submit{
    margin-bottom: 10px;
    width: 200px;
    height:30px;
    background-color:#f1c40f ;
    color: black;
}
.icon{
    color: #f1c40f;
    font-size: 3rem;
}

#pricing{
    display: flex;
}
.more-info > #special{
  margin-left: 3rem;
}
#video{
    display: block;
    margin: auto;
    
}


